<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container"><a href="#home" class="navbar-brand">Niran S Narayanan</a><button
            aria-controls="responsive-navbar-nav" type="button" aria-label="Toggle navigation"
            class="navbar-toggler collapsed"><span class="navbar-toggler-icon"></span></button>
        <div class="navbar-collapse collapse" id="responsive-navbar-nav">
            <div class="ms-auto navbar-nav"><a href="/#home" data-rr-ui-event-key="/#home"
                    class="navText nav-link">Home</a><a href="/#about" data-rr-ui-event-key="/#about"
                    class="navText nav-link">About Me</a><a href="/#skills" data-rr-ui-event-key="/#skills"
                    class="navText nav-link">Skills</a><a href="/#projects" data-rr-ui-event-key="/#projects"
                    class="navText nav-link">Projects</a><a href="/#contact" data-rr-ui-event-key="/#contact"
                    class="navText nav-link">Contact</a></div>
        </div>
    </div>
</nav>