.App {
  text-align: center;
  font-family: 'Nova Mono';
  background-color: #0e0114;
}

:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
}
/* ***********FONTS********** */
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
/* ********************* */

/* *********** BODY ********** */
body{
  font-family: 'Nova Mono';
}

header{
  background-color: #0e0114;
  color: #f9ab00;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
/* ********************* */

/* *********  NAV  ************ */

/* .navbar-nav > li > a {
  color: var(--primary-white)!important;
} */

nav-link{
  font-weight: bold !important;
}
.active{
  color: var(--primary-orange) !important;
}
/* ********************* */


/* *************Particles******** */
tsparticles{
  z-index: -1;
}
/* ********************* */


/* ********************* */
/* ********************* */