.App {
  text-align: center;
  font-family: 'Nova Mono';
  background-color: #0e0114;
}

:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
}
/* ***********FONTS********** */
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
/* ********************* */

/* *********** BODY ********** */
body{
  font-family: 'Nova Mono';
}

header{
  background-color: #0e0114;
  color: #f9ab00;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
/* ********************* */

/* *********  NAV  ************ */

/* .navbar-nav > li > a {
  color: var(--primary-white)!important;
} */

nav-link{
  font-weight: bold !important;
}
.active{
  color: var(--primary-orange) !important;
}
/* ********************* */


/* *************Particles******** */
tsparticles{
  z-index: -1;
}
/* ********************* */


/* *********FOOTER************ */
.footerText{
 color: white !important;
}

.footer-dark{
  background-color: rgb(36, 35, 35) !important;
  position: relative !important;
  bottom: 0 !important;
  z-index: 1 !important;
  
}
a.name{
  color: var(--primary-orange) !important;
  text-decoration: none !important;
}
a.email{
  color: var(--primary-white) !important;
  text-decoration: none !important;
}

/* ********************* */
/* ********************* */
.whiteText{
  color: var(--primary-white) !important;
}

.orangeText{
  color: var(--primary-orange) !important;
  
}
/* ********************* */

.roundBorder{
  /* border:#f9ab00 0.2em solid; */
  border-radius: 2em;
}
/* ********** CONTACT *********** */
#contact{
  background-color: #0e0114;
 
  
}
.contact-border{
  border:#f9ab00 0.2em solid;
  border-radius: 2em;
}

.submit_button{
  background-color: #f9ab00!important;

}
/* ********************* */


/***************Section******************/
section{
  /* border-top: rgb(206, 134, 0) 0.2em solid ; */
  margin-top: 0.2em !important;
  padding: 8em !important;
  align-items: center;
}
#home{
  /* padding: 18em !important; */
  height: 100vh;
  align-items: center;

}
.section_header{
  background-color: rgb(43, 43, 43)  !important;
  opacity: 1;
  z-index:2;
}
/*************** ******************/

/*************** project******************/
.bg_dark{
  background-color: rgb(36, 35, 35) !important;
  
}
/* #project{

} */
/*************** ******************/

/***************home ******************/

.buttonMain:hover{
  background-color: #f9ab00 !important;
}
.buttonMain{
  border-radius: 0.7em !important;
  /* padding: 0 !important; */
  /* margin: 0.5em !important; */
  margin: 1em !important;
}
/*************** ******************/


/***************skill card ******************/
.borderOrange{
  border-color: #f9ab00 !important;
  border-radius: 0.5em !important;
}
/*************** ******************/
  
.profilelink{
  text-decoration: none !important;
}

.homediv{
  padding-top: 10rem !important;
}