.App {
  text-align: center;
  font-family: 'Nova Mono';
}

:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
}
/* ***********FONTS********** */
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
/* ********************* */

/* *********** BODY ********** */
body{
  font-family: 'Nova Mono';
}
/* ********************* */

/* *********  NAV  ************ */

/* .navbar-nav > li > a {
  color: var(--primary-white)!important;
} */

nav-link{
  font-weight: bold !important;
}
.active{
  color: var(--primary-orange) !important;
}
/* ********************* */


/* ********************* */
/* ********************* */